<div class='post'>
  <h1><a href='{{page.url}}'>{{post.title}}</a></h1>
  <span class='date'>{{post.date | date: "%Y-%m-%d"}}</span> 
  <span>{% include post_categories.html %}</span>
  <div class='body'>{{ content }}</div>
</div>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://happy.doc5.com{{post.url}}";
  var disqus_developer = 1;
</script>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/doc5/embed.js"></script>
<noscript><a href="http://disqus.com/forums/doc5/?url=ref">View the discussion thread.</a></noscript>