---
name: happy's blog
author: doc5
desc: 快乐的博客,一个马农的网络博客
desc_en: coding, learn, life, happy working everyday!
encourage: 编程，学习，生活，开心的工作，每一天！
theme: default
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.title != null %}
    <title>{{page.title}} | {{ page.desc }} - {{ page.author }}</title>
    {% else %}
    <title>{{ page.desc }} - {{ page.author }}</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/themes/{{ page.theme }}/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
    
    <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="wrapper"><!-- #wrapper -->

      <header><!-- header -->
      <h1><a href="/">{{ page.name }}</a></h1>
      <h2><a href="/">{{ page.desc }}</a></h2>
      </header><!-- end of header -->

      <nav class="menu"><!-- top nav -->
          <ul class="clearfix">
              <li><a href="/">首页</a></li>
              <li><a href="/blogs.html">文章列表</a></li>
              <li><a href="/about.html">关于我</a></li>
          </ul>
      </nav><!-- end of top nav -->

      <section id="main" class="border-radius"><!-- #main content and sidebar area -->
          
          <div id="content" class="border-radius">
            <article class="articlecontent">
              {{ content }}
            </article>
          </div>
          
          <aside>
            <section class="side border-radius">
              <p>
                <a href="http://github.com/doc5">github</a>
              </p>
            </section>

            <section class="side border-radius">

                  <section>
                  <h3>Categories</h3>
                  <ul>
                    {% for category in site.categories %}
                    <li><a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a></li>
                    {% endfor %}
                  </ul>
                  </section>
              </section>

          </aside>
      </section><!-- end of #main content and sidebar-->

      <footer>
          <section id="footer-area" class="border-radius">

              <section id="footer-outer-block">
                  <aside class="footer-segment">
                      <h4>Encourage</h4>
                      <p>{{ page.encourage }}</p>
                  </aside><!-- end of #fourth footer segment -->
              </section><!-- end of footer-outer-block -->

          </section><!-- end of footer-area -->
      </footer>

    </div><!-- #wrapper -->
    <a href="http://github.com/doc5" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub"></a>
  </body>
</html>
