---
author: happy
desc: 记录生活的每一天
theme: default
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% if page.title != null %}
        <title>{{page.title}} | {{ page.desc }} - {{ page.author }}</title>
        {% else %}
        <title>{{ page.desc }} - {{ page.author }}</title>
        {% endif %}
        <link rel="stylesheet" href="/stylesheets/themes/{{ page.theme }}/style.css" type="text/css" media="screen" charset="utf-8"/>
        <script src="/javascripts/jquery.min.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="content-center">                
                <div class="description">
                    <h1><a href="{{ site.base-url }}">{{ page.author }}</a></h1>
                    <h2>
                        <a href="{{ site.base-url }}">{{ page.desc }}</a>
                    </h2>
                </div>
            </div>
            <div class="navigation">   
                <div class="content-center">                    
                    <a href="{{ site.base-url }}">首页</a>
                    <a href="/about/">关于我</a>
                    <a href="/atom.xml" target="_blank">订阅我</a>
                </div>
            </div>           
        </div>

        <div id="main" class="content-center clearfix">
            <div class="sider">
                <div class="box">
                    <h3>Categories</h3>
                    <ul>
                        {% for category in site.categories %}
                        <li><a href="/{{category | first}}/">{{category | first}} ({{category | last | size }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>            
            
            <div class="content">
                {{ content }}
            </div>
        </div>

    </body>
</html>